<div class="row">
  <aside class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @user.name %></h3>
      </div>
      <div class="panel-body">
        <img class="media-object img-circle img-responsive" src="<%= @user.image %>" alt="">
      </div>
    </div>
  </aside>
  <div class="col-xs-8">
    <h3 class = "panel-title">プロフィール</h3>
    <p><%= @user.introduction %></p>
    <h3 class = "panel-title">お住まい</h3>
    <p><%= @user.address %></p>
    <h3 class = "panel-title">所属</h3>
    <p><%= @user.affiliation %></p>
    <%= link_to "プロフィールを編集する", edit_user_registration_path %>
  </div>
</div>
<%= render 'tours/tours', tours: @tours %>
