<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <p>お問い合わせありがとうございました。以下のツアーの予約を承りました。後ほど、ツアー主催者から連絡が参りますので、よろしくお願い致します。</p>
    <h2>ご予約確認</h2>
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝<br>
お名前: <%= @reservation.name %><br>
メールアドレス: <%= @reservation.email %><br>
人数: <%= @reservation.number %><br>
ご希望日時：<%= @reservation.date %><br>
問い合わせ内容:<br>
<%= @reservation.message %><br>
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝<br>
  </body>
</html>