<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <p>1件予約がありました</p>
    <p>ご予約内容
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝<br>
ツアーホスト：<%= @host.name %>
ツアータイトル：<%= @tour.title %><br>
価格：<%= @tour.price %><br>
お名前: <%= @reservation.name %><br>
メールアドレス: <%= @reservation.email %><br>
人数: <%= @reservation.number %><br>
ご希望日時：<%= @reservation.date %><br>
問い合わせ内容:<br>
<%= @reservation.message %><br>
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝<br></pr>
  </body>
</html>